body {
    font-family: Verdana, Arial;
}

/*Be at least 100px tall (but will automatically be taller if needed)
Have 20px padding on all sides
Have a 3px solid white border on all sides. */
div {
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFFFFF;
    min-height: 100px;
}

/*Text is 48px
Text is blue
There is 15px padding on all sides*/
h1 {
    font-size: 48px;
    padding: 15px;
    color: #2B61FF;
}

/*Text is 32px*/
h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
}

img {
    width: 350px;
    border-style: dashed;
    border-width: 10px;
    border-color: #000000;
}

div.red {
    background-color: #D96164;
    margin-left: 50px;
    text-align: right;
    border-left: 10px;
    border-bottom: 3px;
}

div.blue {
    background-color: #048CE9;
    margin-right: 50px;
    text-align: left;
    border-left: 10px;
    border-bottom: 3px;
}

footer {
    background: #000000;
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
}
