body {
    font-family: Verdana, Arial;
}

/*Be at least 100px tall (but will automatically be taller if needed)
Have 20px padding on all sides
Have a 3px solid white border on all sides. */
div {
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFFFFF;
    min-height: 100px;
}

/*Text is 48px
Text is blue
There is 15px padding on all sides*/
h1 {
    font-size: 48px;
    
}

/*Text is 32px*/
h2 {
    font-size: 32px;
}
